%p
  Hello 
  = "#{@user.full_name || @user.email}"

  Votre annonce est confirmée:
  Ceci est votre code de confirmation :
  
  %h1
    = "#{@token}"

  Donnez ça aux covoitureurs auquels vous serez en contact